<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:project_4/musicPlayer.properties"/>

    <bean id="musicCBean"
          class="ua.kogutenko.project_4.model.ClassicalMusic">
    </bean>

    <bean id="musicRBean"
          class="ua.kogutenko.project_4.model.RockMusic">
    </bean>

    <bean id="musicPlayer"
          class="ua.kogutenko.project_4.model.MusicPlayer">
        <property name="music" ref="musicRBean"/>
        <property name="name" value="NamePlayer"/>
        <property name="volume" value="50"/>
    </bean>
    <bean id="musicPlayerContext"
          class="ua.kogutenko.project_4.model.MusicPlayer">
        <property name="music" ref="musicRBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>